
<section id="intro">
    <h1>Make <br>Selling&nbsp;Easy</h1>
    <p>Thinking about selling your home?</p>
    <a href="#contact" id="talkToUs">Talk To Us</a>
</section>

<style type="text/css">

    #intro {
        position: absolute;
        top: calc(50% - 12rem);
        left: calc(50% + 1.6rem);
        width: 41rem;
        font-family: "Gotham", Helvetica, sans-serif;
        color: white;
        transform: translate(0, 6.4rem);
        opacity: -1;
        transition: all .5s ease .1s;
        z-index: 2000;
        pointer-events: none;
    }

    .compact.portrait #intro {
        width: auto;
        /* top:   8.0rem;
        top:  11.2rem;
        top:   8.8rem; */
        top:   9.6rem;
        left:  1.6rem;
        right: 1.6rem;
        transition: all .5s ease .25s;
        /* outline: 2px solid green; */
    }

    .compact.landscape #intro {
        top: calc(50% - 4.75rem);
    }

    #intro.animateIn {
        transform: translate(0, 0);
        opacity: 1;
    }

    #intro h1,
    #intro p,
    #intro a {
        color: inherit;
    }


    #intro h1,
    #intro p {
        line-height: 1.3;
        margin:  0;
        padding: 0;
        text-shadow: 1px  1px 5px #000,
                    -1px -1px 5px #000,
                     1px -1px 5px #000,
                    -1px  1px 5px #000;
    }

    #intro h1,
    #intro a {
        text-transform: uppercase;
    }

    #intro h1 {
        font-size: 48px;
        letter-spacing: 4px;
        font-weight: 900;
        margin-bottom: 8px;
        margin-top: -12px;
    }

    .compact #intro h1 {
        font-size: 28px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: -2px;
        line-height: 1;
    }

    #intro p {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 32px;
        line-height: 1;
    }

    .compact #intro p {
        font-size: 12px;
        margin-bottom: 14px;
        line-height: 1rem;
    }

    #intro a,
    #intro a:visited {
        display: inline-block;
        line-height: 1;
        letter-spacing: 1px;
        padding: 19px 24px 17px;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        background-color: rgba(0, 164, 177, 0.75);
        border-radius: 2px;
        -webkit-filter: grayscale(0) brightness(1);
                filter: grayscale(0) brightness(1);
        pointer-events: all;
    }

    #intro a:hover {
        -webkit-filter: grayscale(1) brightness(1);
                filter: grayscale(1) brightness(1);
    }

    #intro a:active {
        -webkit-filter: grayscale(0) brightness(.66);
                filter: grayscale(0) brightness(.66);
    }

    .compact #intro a {
        font-size: 12px;
    }

</style>
