<style type="text/css">

  @font-face {
  font-family: 'Gotham';
  src: url('_fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('_fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('_fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
     url('_fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('_fonts/Gotham-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
  font-family: 'Gotham';
  src: url('_fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('_fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('_fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
     url('_fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('_fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 600;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('_fonts/Gotham-Black.eot'); /* IE9 Compat Modes */
  src: url('_fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('_fonts/Gotham-Black.woff') format('woff'), /* Modern Browsers */
     url('_fonts/Gotham-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('_fonts/Gotham-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 900;
   font-style: normal;
 }

 @font-face {
  font-family: 'Din';
  src: url('_fonts/Din-Regular.eot'); /* IE9 Compat Modes */
  src: url('_fonts/Din-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('_fonts/Din-Regular.woff') format('woff'), /* Modern Browsers */
     url('_fonts/Din-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('_fonts/Din-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }

@font-face {
  font-family: 'Din';
  src: url('_fonts/Din-Bold-Alternate.eot'); /* IE9 Compat Modes */
  src: url('_fonts/Din-Bold-Alternate.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('_fonts/Din-Bold-Alternate.woff') format('woff'), /* Modern Browsers */
     url('_fonts/Din-Bold-Alternate.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('_fonts/Din-Bold-Alternate.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 600;
   font-style: normal;
 }


</style>