<style type="text/css">

  @font-face {
    font-family: 'Gotham';
    font-weight: 400;
    font-style: normal;
    src:  url('assets/fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
    src:  url('assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('assets/fonts/Gotham-Book.otf') format('opentype'); /* Safari, Android, iOS */
  }

 @font-face {
    font-family: 'Gotham';
    font-weight: 600;
    font-style: normal;
    src:  url('assets/fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src:  url('assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('assets/fonts/Gotham-Bold.otf') format('opentype'); /* Safari, Android, iOS */
  }

  @font-face {
      font-family: 'Gotham';
      font-weight: 900;
      font-style: normal;
      src:  url('assets/fonts/Gotham-Black.eot'); /* IE9 Compat Modes */
      src:  url('assets/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('assets/fonts/Gotham-Black.otf') format('opentype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Din';
    font-weight: 400;
    font-style: normal;
    src:  url('assets/fonts/DIN-Regular.eot'); /* IE9 Compat Modes */
    src:  url('assets/fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('assets/fonts/DIN-Regular.otf') format('opentype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Din';
    font-weight: 600;
    font-style: normal;
    src:  url('assets/fonts/DIN-BoldAlternate.eot'); /* IE9 Compat Modes */
    src:  url('assets/fonts/DIN-BoldAlternate.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('assets/fonts/DIN-BoldAlternate.otf') format('opentype'); /* Safari, Android, iOS */
  }

</style>
