<style type="text/css">

    html {
        font-size: 62.5%;
        overflow: hidden;
    }

/******************************************************************************/
/*                              Variables									  */
/******************************************************************************/
    :root {
        --white: #ffffff;
        --blue:  #009dac;
        --black: #000000;
        --gray:  #808080;
        --colorNone: transparent;

        --heightAside:     14rem;

        --sizeNone:        0rem;
        --sizeLogoHalf:    3.4rem;
        --sizeLogoCompact: 3.2rem;
        --sizeLogo:     calc(var(--sizeLogoHalf) * 2);

        --posLogoTop:   6.4rem;
        --posLogoTopCompact: 3.2rem;

        --marginFull: 3.2rem;
        --marginHalf: 1.6rem;

        --markerSize:      5.00rem;
        --markerSvgWidth:  6.40rem;
        --markerSvgHeight: 7.68rem;
        --markerScale:       .66;
        --markerCompactZoom: .75;
        --markerPaddingLeft:       calc((var(--markerSvgHeight) - var(--markerSvgWidth)) /  2);
        --markerPaddingLeftActive: calc((var(--markerSvgWidth)  - var(--markerSize)    ) / -2);
        --markerPaddingTopActive:  calc((var(--markerSvgHeight) - var(--markerSize)    ) / -2);
    }

    @media (min-width: 10rem)  { :root {--bpw: 'ws' } } /* 100px  */
    @media (min-width: 60rem)  { :root {--bpw: 'wm' } } /* 600px  */
    @media (min-width: 140rem) { :root {--bpw: 'wl' } } /* 1400px */

    @media (min-height: 10rem) { :root {--bph: 'hs' } } /* 100px */
    @media (min-height: 40rem) { :root {--bph: 'hm' } } /* 400px */
    @media (min-height: 90rem) { :root {--bph: 'hl' } } /* 900px */

    body::before,
    body::after {
        position: absolute;
        top: 0;
        z-index: 5000;
        display: none;
    }


    body::after {
        content: var(--bpw, 'null');
        left: 0;
    }

    body::before {
        content: var(--bph, 'null');
        right: 0;
    }

    body,
    main,
    #coverSite,
    #gradients {
        min-width:  100vw;
        max-width:  100vw;
        margin:  0;
        padding: 0;
    }

    main,
    #coverSite,
    #gradients {
        min-height: 100%;
        max-height: 100%;
    }

    body,
    main {
        overflow: hidden;
        box-sizing: border-box;
    }

    body {
        font-size: 1.6rem;
        color:      var(--white);
        background: var(--black);
        font-family: -apple-system, "Gotham", "Din", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        position: fixed;
        top:    0;
        bottom: 0;
    }

    main {
        position: relative;
        background: var(--gray);
        z-index: 1;
        /* border: 3px solid blue; /* TODO: Remove this when done testing */
    }

    /* z-index Settings */
    #siteNav   { z-index: 1000; }
    #coverSite { z-index:  990; }
    #gradients { z-index:  1;   }
    .marker    { z-index:  2;   }

    #coverSite {
        position: absolute;
        pointer-events: all;
        opacity: 1;
        background: var(--black);
        transition: opacity 2s ease-in 1s;
        visibility: visible;
    }

    #coverSite.hidden {
        opacity: 0;
        pointer-events: none;
    }

    /* Gradients */

    #gradients,
    #gradients #gradientCover1,
    #gradients #gradientCover2 {
        position: absolute;
        top:    0;
        bottom: 0;
        pointer-events: none;
    }

    #gradients {
        background: transparent;
        left:  0;
        right: 0;
        /* -webkit-transform: translate3d(0,0,500px);
        transform: translate3d(0,0,500px); */
    }

    /* Left Side */
    #gradients #gradientCover1 {
        background-image: linear-gradient(112.5deg, rgba(0,0,0,.9), rgba(0,0,0,0) 50%, rgba(0,0,0,0));
        left:     0;
        right:  50%;
    }

    /* Right Side */
    #gradients #gradientCover2 {
        background-image: linear-gradient(90deg, rgba(0,0,0,0),  rgba(0,0,0,.95));
        right:    0;
        left:     40%;
    }

    /* Top Side */
    .compact.portrait #gradients #gradientCover1{
        background-image: linear-gradient(169deg, rgba(0,0,0,.9), rgba(0,0,0,.5) 50%, rgba(0,0,0,0));
        right: 0;
        bottom: auto;
        height: 24rem;
    }

    /* Bottom Side */
    .compact.portrait #gradients #gradientCover2{
        background-image: linear-gradient(180deg, rgba(0,0,0,0),  rgba(0,0,0,.95));
        left: 0;
        top:  auto;
        height: 6rem;
    }

    /* MAP */

    #map {
        position: absolute;
        height: 100%;
        width:  100%;
        box-sizing: border-box;
        /* border: 3px solid red; /* TODO: Remove this when done testing */
    }

    .viewAll #map .mapboxgl-canvas,
             #map .mapboxgl-canvas {
        -webkit-filter: grayscale(1) contrast(1) brightness(.66);
                filter: grayscale(1) contrast(1) brightness(.66);
        transition: filter 1s ease;
    }

    .viewLoc #map .mapboxgl-canvas{
        -webkit-filter: grayscale(1) contrast(1.5) brightness(.5);
                filter: grayscale(1) contrast(1.5) brightness(.5);
    }

    /******************************************************************************/
    /* Logo States & Settings                                                     */
    /******************************************************************************/

    .logo {
        display: inline;
        width: var(--sizeLogo);
        color: var(--white);
    }

    .compact .logo {
        width: var(--sizeLogoCompact);
    }

    .logo.centered {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2000;
    }

    /* Colors */
    .logo.light { color: var( --white ); }
    .logo.dark  { color: var( --black ); }
    .logo.blue  { color: var( --blue  ); }

    /* Loading */
    @-webkit-keyframes loadingLogo {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-moz-keyframes    loadingLogo {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-o-keyframes      loadingLogo {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @keyframes         loadingLogo {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    .logo.loading {
        opacity: 0;
        animation-name: loadingLogo;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count:infinite;
        animation-delay: 1s;
    }

    /* DEFAULT -- Logo To Top */
    @-webkit-keyframes topLogo {
        0%   { top: 50%;   }
        10%  { top: 50.5%; }
        65%  { top: calc(var(--posLogoTop) - 1%); }
        100% { top:      var(--posLogoTop);        }
    }
    @-moz-keyframes    topLogo {
        0%   { top: 50%;   }
        10%  { top: 50.5%; }
        65%  { top: calc(var(--posLogoTop) - 1%); }
        100% { top:      var(--posLogoTop);        }
    }
    @-o-keyframes      topLogo {
        0%   { top: 50%;   }
        10%  { top: 50.5%; }
        65%  { top: calc(var(--posLogoTop) - 1%); }
        100% { top:      var(--posLogoTop);        }
    }
    @keyframes         topLogo {
        0%   { top: 50%;   }
        10%  { top: 50.5%; }
        65%  { top: calc(var(--posLogoTop) - 1%); }
        100% { top:      var(--posLogoTop);        }
    }

    /* COMPACT -- Logo To TOP */
    @-webkit-keyframes topLogoCompact {
        0%   { top: 50%;   }
        10%  { top: 50.5%; }
        65%  { top: calc(var(--posLogoTopCompact) - 1%);  }
        100% { top:      var(--posLogoTopCompact);        }
    }
    @-moz-keyframes    topLogoCompact {
        0%   { top: 50%;   }
        10%  { top: 50.5%; }
        65%  { top: calc(var(--posLogoTopCompact) - 1%); }
        100% { top:      var(--posLogoTopCompact);        }
    }
    @-o-keyframes      topLogoCompact {
        0%   { top: 50%; }
        10%  { top: 50.5%; }
        65%  { top: calc(var(--posLogoTopCompact) - 1%);  }
        100% { top:      var(--posLogoTopCompact);        }
    }
    @keyframes         topLogoCompact {
        0%   { top: 50%;   }
        10%  { top: 50.5%; }
        65%  { top: calc(var(--posLogoTopCompact) - 1%);  }
        100% { top:      var(--posLogoTopCompact);        }
    }

    .logo.top {
        opacity: 1;
        animation-duration: .75s;
        animation-direction: normal;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }

    .default .logo.top { animation-name: topLogo; }
    .compact .logo.top { animation-name: topLogoCompact; }


    .viewAll .logo.top {
        transform: translate(-50%, -50%);
        transition: transform .25s ease 0s;
    }

    .viewLoc .logo.top {
        transform: translate(-50%, -300%);
        transition: transform .125s ease-in 0s;
    }

    /******************************************************************************/
    /*                         Asset Logo SVG  for reuse                          */
    /* We hide this assest & use the <use xlink:href="#logo"> instead on the page */
    /******************************************************************************/

    #logo,
    #mapMarker,
    #wordmark {
        width:  var(--sizeNone);
        height: var(--sizeNone);
        display: block;
    }

    #logo     > * { fill: currentColor; }
    #wordmark > * { fill: currentColor; }

    /******************************************************************************/
    /*                               Map Markers                                  */
    /******************************************************************************/

    .mapboxgl-ctrl-logo { visibility: hidden; }

    .marker > svg {
        width:  var(--markerSvgWidth );
        height: var(--markerSvgHeight);
        position: absolute;
        top:  0;
        left: 0;
        filter: drop-shadow(0 0 5px rgba(0,0,0,.75));
        transform: scale(var(--markerScale)) translate(var(--markerPaddingLeft));
        transform-origin: 0 0;
        transition: transform .25s ease-out;
    }

    .default .marker.active > svg {
        transform: scale(1) translate(var(--markerPaddingLeftActive), var(--markerPaddingTopActive));
    }

    /* HIDDEN MARKERS */
    .marker.office,
    .viewAll .marker.office,
    .viewLoc .marker {
        opacity: 0;
        transition: opacity .5s ease 0s;
        pointer-events: none;
    }

    /* VISIBLE MARKER */
    .viewLoc .marker.active.office,
    .viewLoc .marker.active,
    .viewAll .marker {
        opacity: 1;
        transition: opacity .5s ease .25s;
        pointer-events: all;
    }

    .marker.office        { pointer-events: none; }
    .marker.office.active { pointer-events: all; }

    /* Increases Hit Area */
    .marker::before {
        content: "";
        position: absolute;
        top:     50%;
        left:    50%;
        width:  200%;
        height: 200%;
        background: transparent;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .marker {
        width:  var(--markerSize, 50px);
        height: var(--markerSize, 50px);
        -webkit-filter: grayscale(0) brightness(1);
                filter: grayscale(0) brightness(1);
        border-radius: 50%;
    }

    .marker:hover{
        -webkit-filter: grayscale(1) brightness(1);
                filter: grayscale(1) brightness(1);
    }

    .marker:active{
        -webkit-filter: grayscale(0) brightness(.66);
                filter: grayscale(0) brightness(.66);
    }

    /* When Cursor is selected */
    .marker.active {
        cursor: default !important;
        -webkit-filter: grayscale(0) brightness(1);
                filter: grayscale(0) brightness(1);
    }

    /* Bring markers in front of others - lowest to highest latitudes */
    .marker[data-coords*="46.826851"]{ z-index: 10; }
    .marker[data-coords*="47.063957"]{ z-index:  9; }
    .marker[data-coords*="47.231441"]{ z-index:  8; }
    .marker[data-coords*="47.250291"]{ z-index:  7; }
    .marker[data-coords*="47.259175"]{ z-index:  6; }
    .marker[data-coords*="47.413388"]{ z-index:  5; }
    .marker[data-coords*="47.510993"]{ z-index:  4; }

    /* COMPACT */

    .compact .marker > svg {
        /* zoom: var(--markerCompactZoom); */
        /* zoom: 2; */
    }

    /* OFFICE */

    .marker.office        > svg.logo,
    .marker.office.active > svg.logo {
        width:  var(--markerSize);
        height: var(--markerSize);
        transform: none;
        outline: 1px solid red;
        zoom: 1;
    }


</style>
