<script text="text/javascript">
    //global obj
    var $ = {
        body:  null,
        html:  null,
        win:   null,
        logo:  null,
        cover: null,
        map:   null,
        intro: null,
        grads: null,

        breakpoints: {
            ws:   "ws",
            wm:   "wm",
            wl:   "wl",
            hs:   "hs",
            hm:   "hm",
            hl:   "hl",
            null: null
        },

        layouts: {
            types: {
                compact: "compact",
                default: "default",
                backup:  "backup",
                null:    "null",
            },
            rules: {
                compact: [],
                default: [],
                backup:  [], // TODO: CHECK: if we need this?
            }
        },

        SETUP:   {},
        LOADING: {},
        STATES:  {},
        COVER:   {},
        RESIZE:  {},
        ZOOM:    {},
        MAPBOX:  {},
        DEV:     {},
        UI:      {}, //list of UI elements...

        //size, ratio, orientation, categories
        SCREEN: {
            ratio:       null,
            orientation: null,
            size:        null, // {width:, height:, etc...}
            layout:      null,
            breakpoint: {
                width:  null,
                height: null,
            },
        },

        PORTRAIT:  "portrait",
        LANDSCAPE: "landscape",
        WIDTH:     "width",
        HEIGHT:    "height",
        COMPACT:   "compact",
        DEFAULT:   "default",
        VIEWALL:   "viewAll",
        VIEWLOC:   "viewLoc",
    };

    //set default size
    $.SCREEN.breakpoint.width  = $.breakpoints.null;
    $.SCREEN.breakpoint.height = $.breakpoints.null;

    //set default layout category
    $.SCREEN.layout = $.layouts.types.null;

    //set layout rules

    $.layouts.rules.compact = [
        [$.breakpoints.ws, $.breakpoints.hs],
        [$.breakpoints.ws, $.breakpoints.hm],
        [$.breakpoints.ws, $.breakpoints.hl],
        [$.breakpoints.wm, $.breakpoints.hs],
        [$.breakpoints.wl, $.breakpoints.hs],
    ];

    $.layouts.rules.default = [
        [$.breakpoints.wm, $.breakpoints.hm],
        [$.breakpoints.wm, $.breakpoints.hl],
        [$.breakpoints.wl, $.breakpoints.hm],
        [$.breakpoints.wl, $.breakpoints.hl],
    ];

    $.SETUP = {
        getElements: function () {
            $.body  = document.body;
            $.html  = document;
            $.win   = window;
            $.logo  = document.getElementById("veritasLogo");
            $.cover = document.getElementById("coverSite");
            $.intro = document.getElementById("intro");
            $.grads = document.getElementById("gradients");
        },

        getMapBoxObjects: function () {
            $.MAPBOX.client            = new MapboxClient($.MAPBOX.dataset.accessToken);
            $.MAPBOX.tiles             = mapboxgl;
            $.MAPBOX.tiles.accessToken = $.MAPBOX.api.accessToken;
            $.MAPBOX.client.listFeatures($.MAPBOX.dataset.id, {}, $.MAPBOX.datasetCallback);
        },

        mapClickHandler: function () {
            if (!$.map) $.map = document.querySelector(".mapboxgl-canvas-container");
            $.map.addEventListener('click', function (event) {
                $.MAPBOX.clearActiveMarkers();
                $.ZOOM.initial();
            });
        },

        logoClickHandler: function () {
            // TODO: Make this be a UI element => $.UI.stellarNameToComeUpWith
            document.getElementById("talkToUs").addEventListener('click', function () {
                // TODO: This is temporary and should be a state change
                $.ZOOM.office();
            });

            // TODO: Make this be a UI element
            $.logo.addEventListener('click', function (event) {
                $.ZOOM.initial();
            });
        },

        moveGradientsOverMapCanvas: function() {
            $.map.appendChild($.grads);
        }
    }

    $.SUPPORTS = {
        cssFilters: function () {
            if (!Modernizr.cssfilters) { console.log("NO CSS FILTERS") }
        },

        cssPointerEvents: function () {
            if (!Modernizr.csspointerevents) { console.log("NO CSS POINTER EVENTS") }
        },

        forceTouch: function () {
            if (!Modernizr.forcetouch) { console.log("NO FORCE TOUCH") }
        },

        touchEvents: function () {
            if (!Modernizr.touchevents) { console.log("NO TOUCH EVENTS") }
        }
    }

    $.LOADING = {

        exitLoadingState: function () {
            //get opacity of the logo
            var logoOpacity = $.win.getComputedStyle($.logo, null).getPropertyValue("opacity");
            //check if the logo opacity is lower then 95%, if so check again in 10 milliseconds
            if (logoOpacity < .95) { return setTimeout($.LOADING.exitLoadingState, 10); }
            //logo is greater than 95% so remove loading animation & set loadingComplete state.
            $.STATES.loadingComplete();
        },

        logoTransitionToTop: function () {
            $.logo.classList.remove("loading");
            $.logo.classList.add("top");
            $.intro.classList.add("animateIn");
        },
    }

    $.STATES = {

        setMapView: function() {
            console.log("mapView()", location);
            if ($.MAPBOX.locations.current === $.MAPBOX.locations.initial){
                $.body.classList.remove($.VIEWLOC);
                $.body.classList.add($.VIEWALL);
            } else {
                $.body.classList.remove($.VIEWALL);
                $.body.classList.add($.VIEWLOC);
            }
        },

        loadingComplete: function () {
            //move the logo to the top
            $.LOADING.logoTransitionToTop();
            //we need to also remove the site cover
            $.COVER.hide();
            //Set Body as Loaded
            $.body.classList.add("loaded");
        },

        //TODO: Wire this in so we know device capabilities
        contentLoaded: function () {
            $.SUPPORTS.cssFilters();
            $.SUPPORTS.cssPointerEvents();
            $.SUPPORTS.forceTouch();
            $.SUPPORTS.touchEvents();
        }
    }

    $.COVER = {
        show: function () { $.cover.classList.remove("hidden"); },
        hide: function () { $.cover.classList.add("hidden"); }
    }

    $.RESIZE = {

        /* Flag to know if we've resized */
        active: false,

        /** Screen Dimensions
        * @return {frame}
        */
        getScreenSize: function () {
            $.SCREEN.size = $.body.getBoundingClientRect();
        },

        /**
        * Toggle Resize Flag to block duplicative calls. Get layout updates & Update the Map.
        * TODO: Check if we need to throttle this.
        * @return {void}
        */
        handleResize: function(){
            $.RESIZE.active = true;
            $.RESIZE.getLayoutProperties();
            setTimeout(function(){
                $.MAPBOX.updateFromResize();
                $.RESIZE.active = false;
            }, 200);
            return null;
        },

        /**
        * Update the document for Resizing CSS Elements and the related variables and CSS classes for layout
        * TODO: Check if we need to throttle this.
        * @param  {Bool}  initial  //Used to force the setting on the inital load of the site
        * @return {void}
        */
        getLayoutProperties: function (initial) {
            //read CSS psuedo elements and its before & after value - We have to remove quotes because of only Android adding them.
            var sizeW = $.win.getComputedStyle($.body, ':after' ).getPropertyValue('content').replace(/"/g, '');
            var sizeH = $.win.getComputedStyle($.body, ':before').getPropertyValue('content').replace(/"/g, '');

            function checkBreakpointChange(newSize, dimension, initial) {
                var bp = $.SCREEN.breakpoint;
                if (newSize != bp[dimension] || initial) {
                    //loop breakpoints, find match to ensure tracking in JS
                    Object.keys($.breakpoints).forEach(function (key) {
                        //match found
                        if ($.breakpoints[key] == newSize) {
                            //add new class, remove other
                            $.body.classList.remove(bp[dimension]);
                            $.body.classList.add(newSize);
                            //update global breakpoint with var
                            bp[dimension] = newSize;
                        }
                    });
                }
            }

            checkBreakpointChange(sizeW, $.WIDTH,  initial);
            checkBreakpointChange(sizeH, $.HEIGHT, initial);
            //update $.RESIZE properties for layout
            $.RESIZE.getLayoutCategory();
            $.RESIZE.getScreenSize();
            $.RESIZE.getScreenOrientation();
            // $.RESIZE.getScreenRatio();
            //make sure to update panel size if we have one
            if ($.DEV.enabled) $.DEV.updatePanelSize();

            return null;
        },

        /**portrait or landscape ¯\_(ツ)_/¯
        * @return
        */
        getScreenOrientation: function () {
            //grab values we need before continuing...
            if (!$.SCREEN.size) $.RESIZE.getScreenSize();
            $.body.classList.remove($.SCREEN.orientation);
            $.SCREEN.orientation = ($.SCREEN.size.width >= $.SCREEN.size.height) ? $.LANDSCAPE : $.PORTRAIT;
            $.body.classList.add($.SCREEN.orientation);
        },

        /** calc current ratio
        * if ratio > 1 ->
        *   @param {width}
        *   @param {height}
        *   @return {orientation}
        */
        getScreenRatio: function () {
            //get values before continuing...
            if (!$.SCREEN.size) $.RESIZE.getScreenSize();
            $.SCREEN.ratio = $.SCREEN.size.width / $.SCREEN.size.height;
        },

        /**determine layout category
        * @return
        */
        getLayoutCategory: function () {
            //set layout to false, so can be set later inside our loops
            var layoutMatchFound = false;
            // if ($.RESIZE.getScreenOrientation() === $.LANDSCAPE) $.SCREEN.layout = $.layouts.types.split;
            //loop rules to check if match found yet, once found --> return out
            Object.keys($.layouts.rules).forEach(function (type) {
                if (layoutMatchFound) return;
                //if no match found, check if breakpoints are equal, set to true --> return out
                $.layouts.rules[type].forEach(function (rule) {
                    if (layoutMatchFound) return;
                    if (rule[0] == $.SCREEN.breakpoint.width && rule[1] == $.SCREEN.breakpoint.height) {
                        layoutMatchFound = true;
                        //remove previous class, write class, store in OBJ
                        $.body.classList.remove($.SCREEN.layout);
                        $.body.classList.add(type);
                        $.SCREEN.layout = type;
                    }
                });
            });
        },
    }

    $.ZOOM = {
        to: function (location) {
            // TODO: Easy out if we are currently animating to Zooming

            //easy Out if we don't have what we need
            if (!location) return;
            if (!$.MAPBOX.map) return;
            if (location === $.MAPBOX.locations.current && $.RESIZE.active === false) return;

            //update the current location
            $.MAPBOX.locations.current = location;

            $.STATES.setMapView();

            //tell map to fly to location
            if(location === $.MAPBOX.locations.initial) {
                $.MAPBOX.fitAllMarkers();
            } else {
                if ($.MAPBOX.map) $.MAPBOX.map.flyTo(location);
            }

            //tell office marker to be active if it's selected
            $.MAPBOX.officeMarkerActive((location === $.MAPBOX.locations.office) ? true : false);

            return null;
        },

        initial: function () {
            $.ZOOM.to($.MAPBOX.locations.initial);
        },

        office: () => {
            $.ZOOM.to($.MAPBOX.locations.office);
        },

    };

    $.MAPBOX = {
        client:  null,
        tiles:   null,
        dataset: null,
        map:     null,
        markers: {
            office:    null,
            locations: []
        },
        locations: {
            current: null,
            office:  {},
            initial: {},
        },
        initialCenter: [],
        initialPitch: 0,
        initialZoom: 9.5,
        locationZoom: 13.5,
        locationPitch: 50,
        coordsOffice: [-122.386888, 47.5791677],
        bounds: [],
        animation: {
            speed: 2
        },
        offset: {
            // TODO: Need to make these responsive to the window type
            // TODO: Do we even want to do it this way!?
            // y: () => 40,
            // x: () => ($.SCREEN.size.width - 32) / 4
            y: () => 0,
            x: () => 0,
        },
        api: {
            accessToken: "pk.eyJ1IjoiamFrZWRvYnNvbiIsImEiOiJjajdzMHAwZ2Y0amhsMnFxdTgzZzRoa280In0.S2TkU2UgGv7dcsUsmy12cw"
        },
        dataset: {
            id: "cj9oy3jrk2uks2wpge13y8nl4",
            accessToken: "sk.eyJ1IjoiamFrZWRvYnNvbiIsImEiOiJjajhtYWkxaW4wd25kMndwZmc0ZG01b29lIn0.NPn9doCB7aiJpctcxiNiUA"
        },

        datasetCallback: function (error, dataset) {
            // console.log("datasetCallback()");
            $.MAPBOX.dataset = dataset;
            $.MAPBOX.createMapAndEvent();
        },

        isReady: function () {
            // console.log("isReady()");
            $.SETUP.mapClickHandler();
            $.SETUP.logoClickHandler();
            $.SETUP.moveGradientsOverMapCanvas();
            $.MAPBOX.map.addSource("points", {
                "type": "geojson",
                "data": {
                    "type":     "FeatureCollection",
                    "features": $.MAPBOX.dataset.features
                },
            });
            $.MAPBOX.setupLocations();
            $.MAPBOX.addMarkers();
            $.LOADING.exitLoadingState();
        },

        setupLocations: function () {
            // console.log("setupLocations()");
            $.MAPBOX.locations.office = {
                center: $.MAPBOX.coordsOffice,
                zoom:   $.MAPBOX.locationZoom,
                pitch:  $.MAPBOX.locationPitch,
                speed:  $.MAPBOX.animation.speed,
                offset: [-$.MAPBOX.offset.x(), $.MAPBOX.offset.y()]// CHECK: ensure updates on Screen Resize
            };
            $.MAPBOX.locations.initial = { center: $.MAPBOX.initialCenter };
            // TODO: Remove this after debugging
            $.MAPBOX.locations.current = $.MAPBOX.locations.initial;
        },

        createMapAndEvent: function () {
            $.MAPBOX.getInitialCenter();
            $.MAPBOX.map = new $.MAPBOX.tiles.Map({
                container: "map",
                style:  "mapbox://styles/mapbox/satellite-v9?optimize=true",
                center: $.MAPBOX.initialCenter,
                zoom:   $.MAPBOX.initialZoom,
                pitch:  $.MAPBOX.initialPitch,
                interactive: false,
                attributionControl: false,
                logoPosition: "bottom-right",
            });
            $.MAPBOX.fitAllMarkers(true);
            $.MAPBOX.map.on("load", $.MAPBOX.isReady);
        },

        getInitialCenter: function () {
            var bounds = new mapboxgl.LngLatBounds();
            //extend bounds to fit coordinates of homes
            $.MAPBOX.dataset.features.forEach(function (location) {
                bounds.extend(location.geometry.coordinates);
            });
            $.MAPBOX.bounds = bounds;
            $.MAPBOX.initialCenter = bounds.getCenter();

        },

        updateFromResize: function (){
            //TODO: @Jake - Add logic here for determining where to zoom back to depending on state of the app.
            $.ZOOM.initial();
        },

        fitAllMarkers: function (initial) {

            var padding = {
                top:    112 + 32,   // top margin    + half-marker
                bottom: 96,         // bottom margin + full-marker
                left:   64,         // left margin   + half-marker
                right:  64          // right margin  + half-marker
            };

            // DESKTOP
            if ($.SCREEN.layout === $.layouts.types.default) padding.right += $.SCREEN.size.width / 2; // Previous value PLUS Half Screen Width

            // COMPACT
            if ($.SCREEN.layout === $.layouts.types.compact) padding.bottom = 64; // Bottom Margin + half-marker

            // COMPACT & LANDSCAPE
            if ($.SCREEN.layout === $.layouts.types.compact && $.SCREEN.orientation === $.LANDSCAPE) {
                padding.right  = $.SCREEN.size.width / 2;    // Half Screen Width
                padding.top    = 64 + 32;                    // Top Margin    + half-marker
                padding.bottom = 32 + 32;                    // Bottom Margin + half-marker
                padding.left   = 0;                          // Removed
            }

            var newCameraTransform = $.MAPBOX.map.cameraForBounds($.MAPBOX.bounds, {
                padding: padding,
                pitch:   $.MAPBOX.initialPitch,
                zoom:    $.MAPBOX.initialZoom,
                animate: (initial) ? false : true
             });

            $.MAPBOX.map.flyTo(newCameraTransform);
        },

        /**
        * Removes all active class names from makers that are set with class active.
        * @return {void}
        */
        clearActiveMarkers: () => {
            var activeMarkers = document.querySelectorAll('.active');
            for (var index = 0; index < activeMarkers.length; index++) {
                activeMarkers[index].classList.remove('active');
            }
            return null;
        },

        addMarkers: () => {
            //add all locations from Mapbox
            $.MAPBOX.dataset.features.forEach(function (location, index) {
                $.MAPBOX.setupMarker(location.geometry.coordinates, index);
            });

            //add the Office, our Custom Property
            $.MAPBOX.setupMarker($.MAPBOX.locations.office.center, $.MAPBOX.dataset.features.length, true);
        },

        /**
        * Setup for Marker Creation, Adds to Map, Click Events and storing in location object
        * @param  {Array}  coordinates
        * @param  {Number} index
        * @param  {Bool}   isOffice
        * @return {void}
        */
        setupMarker: (coordinates, index, isOffice = false) => {
            const htmlMarker = $.MAPBOX.createHTMLMarker(index, coordinates, isOffice);
            const marker = new $.MAPBOX.tiles.Marker(htmlMarker).setLngLat(coordinates).addTo($.MAPBOX.map);

            htmlMarker.addEventListener('click', function (event) {
                //remove all the markers that are active & set clicked marker to active
                $.MAPBOX.clearActiveMarkers();
                htmlMarker.classList.add('active');
                //call function & Block event from triggering Map
                $.MAPBOX.markerClicked(htmlMarker);
                event.stopPropagation();
            });

            //early Out for Office so we don't add as a location. It's added by hand.
            if (isOffice) return null;

            //add Location to location Object
            $.MAPBOX.locations[`location${index}`] = {
                center: coordinates,
                pitch:  $.MAPBOX.locationPitch,
                zoom:   $.MAPBOX.locationZoom,
                speed:  $.MAPBOX.animation.speed,
                // TODO: Make sure we don't need Offset
                // offset: [0,0], // Check! - ensure updates on Screen Resize
            };
            return null;
        },

        /**
        * Office Marker needs help to get active since you never click on it
        * We also clear other markers active state if this is set to active.
        * @param  {Bool}   toActive
        * @return {void}
        */
        officeMarkerActive: (toActive) => {
            const officeMarker = document.querySelector(".marker.office");
            if(!officeMarker) return;
            if (toActive) {
                $.MAPBOX.clearActiveMarkers();
                officeMarker.classList.add("active");
            } else {
                officeMarker.classList.remove("active");
            }
            return null;
        },

        createHTMLMarker: (index, coords, isOffice) => {
            const m  = document.createElement("div");
            const cn = (isOffice) ? "marker office" : "marker";

            m.className      = cn;
            m.index          = index;
            m.isOffice       = isOffice;
            m.style.width    = "50px";
            m.style.height   = "50px";
            m.style.cursor   = "pointer";
            m.dataset.coords = coords;

            if (isOffice) {
                // LOGO SVG
                m.innerHTML = "<svg class='logo blue'><use xlink:href='#logo'></use></svg>";
                $.MAPBOX.markers.office = m;
            } else {
                // MARKER SVG
                m.innerHTML = "<svg><use xlink:href='#mapMarker'></use></svg>";
                $.MAPBOX.markers.locations[index] = m;
            }

            return m;
        },

        markerClicked: function (marker) {
            if (marker === $.MAPBOX.markers.office) return null;

            $.ZOOM.to($.MAPBOX.locations[`location${marker.index}`]);

            // TODO: Implement this when Stable Map is built
            //secondaryTransition("show")

            return null;
        },
    }

    $.DEV = {
        enabled: true,
        //helper to vizualize page size by changing bg
        updatePanelSize: function () {
            var panel = document.getElementById('sizePanel');

            // Add it to the document if it doesn't exist.
            if (panel === null) {
                panel    = document.createElement('aside');
                panel.id = "sizePanel";
                $.body.prepend(panel);
                // Add click handler
                panel.addEventListener("click", function(){
                    document.location.hash = (document.location.hash === "#grid") ? "" : "#grid";
                });
            };

            if (!$.SCREEN.size) $.RESIZE.getScreenSize();
            panel.innerHTML =   "<strong>"                      +
                                    $.SCREEN.size.width         +
                                        "&times;"               +
                                    $.SCREEN.size.height        +
                                        " | "                   +
                                    $.SCREEN.breakpoint.width   +
                                        "/"                     +
                                    $.SCREEN.breakpoint.height  +
                                        " | "                   +
                                    $.SCREEN.layout             +
                                "</strong>";
        },
    }

    /******************************************************************************/
    /*								DOCUMENT EVENTS	                              */
    /******************************************************************************/

    window.addEventListener("resize", function(event){
        $.RESIZE.handleResize();
    });

    window.addEventListener("load", function (event) {
        console.log("All resources finished loading!");
    });

    document.addEventListener("DOMContentLoaded", function (event) {
        var stupidZeroDelay = 0;
        setTimeout(function(){
            $.SETUP.getElements();
            $.RESIZE.getLayoutProperties(true);
            $.SETUP.getMapBoxObjects();
        }, stupidZeroDelay);
    });

</script>
