<script text="text/javascript">
    //global obj
    var $ = {
        body: null,
        html: null,
        win: null,
        logo: null,
        cover: null,
        map: null,
        intro: null,

        breakpoints: {
            ws: "ws",
            wm: "wm",
            wl: "wl",
            hs: "hs",
            hm: "hm",
            hl: "hl",
        },

        layouts: {
            types: {
                compact: "compact",
                split: "split",
                backup: "backup",
            },
            rules: {
                compact: [],
                split: [],
                backup: [], // CHECK: if we need this?
            }
        },

        SETUP: {},
        LOADING: {},
        STATES: {},
        COVER: {},
        RESIZE: {},
        ZOOM: {},
        MAPBOX: {},
        DEV: {},
        //list of UI elements...
        UI: {

        },
        //size, ratio, orientation
        SCREEN: {
            ratio: null,
            orientation: null,
            size: null,          // {width:, height:}
            layout: null,
            breakpoint: {
                width: null,
                height: null,
            },
        },
        PORTRAIT: "portrait",
        LANDSCAPE: "landscape",
        WIDTH: "width",
        HEIGHT: "height",
    };

    //set default size
    $.SCREEN.breakpoint.width = $.breakpoints.ws;
    $.SCREEN.breakpoint.height = $.breakpoints.hs;

    //set default layout category
    $.SCREEN.layout = $.layouts.types.backup;

    //set layout rules
    $.layouts.rules.compact = [
        [$.breakpoints.ws, $.breakpoints.hs],
        [$.breakpoints.ws, $.breakpoints.hm],
        [$.breakpoints.ws, $.breakpoints.hl],
        [$.breakpoints.wm, $.breakpoints.hs],
        [$.breakpoints.wl, $.breakpoints.hs],
    ];

    $.layouts.rules.split = [
        [$.breakpoints.wm, $.breakpoints.hm],
        [$.breakpoints.wm, $.breakpoints.hl],
        [$.breakpoints.wl, $.breakpoints.hm],
        [$.breakpoints.wl, $.breakpoints.hl],
    ];

    $.SETUP = {
        getElements: function () {
            $.body = document.body;
            $.html = document;
            $.win = window;
            $.logo = document.getElementById("veritasLogo");
            $.cover = document.getElementById("coverSite");
            $.intro = document.getElementById("intro");
        },

        getMapBoxObjects: function () {
            $.MAPBOX.client = new MapboxClient($.MAPBOX.dataset.accessToken);
            $.MAPBOX.tiles = mapboxgl;
            $.MAPBOX.tiles.accessToken = $.MAPBOX.api.accessToken;
            $.MAPBOX.client.listFeatures($.MAPBOX.dataset.id, {}, $.MAPBOX.datasetCallback);
        },

        mapClickHandler: function () {
            if (!$.map) $.map = document.querySelector(".mapboxgl-canvas-container");
            $.map.addEventListener('click', function (event) {
                $.MAPBOX.clearActiveMarkers();
                $.ZOOM.initial();
            });
        },

        logoClickHandler: function () {
            // TODO: Make this be a UI element => $.UI.stellarNameToComeUpWith
            document.getElementById("talkToUs").addEventListener('click', function () {
                // TODO: This is temporary and should be a state change
                $.ZOOM.office();
            });

            // TODO: Make this be a UI element
            $.logo.addEventListener('click', function (event) {
                $.ZOOM.initial();
            });
        },
    }

    $.SUPPORTS = {
        cssFilters: function () {
            if (!Modernizr.cssfilters) { console.log("NO CSS FILTERS") }
        },

        cssPointerEvents: function () {
            if (!Modernizr.csspointerevents) { console.log("NO CSS POINTER EVENTS") }
        },

        forceTouch: function () {
            if (!Modernizr.forcetouch) { console.log("NO FORCE TOUCH") }
        },

        touchEvents: function () {
            if (!Modernizr.touchevents) { console.log("NO TOUCH EVENTS") }
        }
    }

    $.LOADING = {
        exitLoadingState: function () {
            //get opacity of the logo
            var logoOpacity = $.win.getComputedStyle($.logo, null).getPropertyValue("opacity");
            //check if the logo opacity is lower then 95%, if so check again in 10 milliseconds
            if (logoOpacity < .95) { return setTimeout($.LOADING.exitLoadingState, 10); }
            //logo is greater than 95% so remove loading animation & set loadingComplete state.
            $.STATES.loadingComplete();
        },

        logoTransitionToTop: function () {
            $.logo.classList.remove("loading");
            $.logo.classList.add("top");
            $.intro.classList.add("animateIn");
        }
    }

    $.STATES = {
        loadingComplete: function () {
            //move the logo to the top
            $.LOADING.logoTransitionToTop();
            //we need to also remove the site cover
            $.COVER.hide();
        },

        contentLoaded: function () {
            $.SUPPORTS.cssFilters();
            $.SUPPORTS.cssPointerEvents();
            $.SUPPORTS.forceTouch();
            $.SUPPORTS.touchEvents();
        }
    }

    $.COVER = {
        show: function () { $.cover.classList.remove("hidden"); },
        hide: function () { $.cover.classList.add("hidden"); }
    }

    $.RESIZE = {
        /** Screen Dimensions
        * @return {frame}
        */
        getScreenSize: function () {
            $.SCREEN.size = $.body.getBoundingClientRect();
        },
        /**
        * Update the document for Resizing and the related variables and CSS classes for layout
        * CHECK: if we need to throttle this
        * @param  {Bool}  initial  //Used to force the setting on the inital load of the site
        * @return {void}
        */
        handleResize: function (initial) {
            console.log("Screen Resized");
            //read CSS psuedo elements and its before & after value
            var sizeW = $.win.getComputedStyle($.body, ':after').getPropertyValue('content');
            var sizeH = $.win.getComputedStyle($.body, ':before').getPropertyValue('content');

            function checkBreakpointChange(newSize, dimension, initial) {
                var bp = $.SCREEN.breakpoint;
                if (newSize != bp[dimension] || initial) {
                    //loop breakpoints, find match to ensure tracking in JS
                    Object.keys($.breakpoints).forEach(function (key) {
                        //match found
                        if ($.breakpoints[key] == newSize) {
                            //add new class, remove other
                            $.body.classList.remove(bp[dimension]);
                            $.body.classList.add(newSize);
                            //update global breakpoint width var
                            bp[dimension] = newSize;
                        }
                    });
                }
            }
            checkBreakpointChange(sizeW, $.WIDTH, initial);
            checkBreakpointChange(sizeH, $.HEIGHT, initial);
            //set title of browser to it's rule dimensions
            document.getElementsByTagName("title")[0].innerHTML = "w: " + $.SCREEN.breakpoint.width + " \nh: " + $.SCREEN.breakpoint.height;
            //update $.RESIZE properties for layout
            $.RESIZE.getLayoutCategory();
            $.RESIZE.getScreenSize();
            $.RESIZE.getScreenOrientation();
            $.RESIZE.getScreenRatio();
            //make sure to update panel size if we have one
            if ($.DEV.enabled) $.DEV.updatePanelSize();
            return null;
        },
        /**portrait or landscape ¯\_(ツ)_/¯
        * @return 
        */
        getScreenOrientation: function () {
            //grab values we need before continuing...
            if (!$.SCREEN.size) $.RESIZE.getScreenSize();
            $.SCREEN.orientation = ($.SCREEN.size.width >= $.SCREEN.size.height) ? $.LANDSCAPE : $.PORTRAIT;
        },
        /** calc current ratio
        * if ratio > 1 -> 
        *   @param {width}
        *   @param {height}
        *   @return {orientation}
        */
        getScreenRatio: function () {
            //get values before continuing...
            if (!$.SCREEN.size) $.RESIZE.getScreenSize();
            $.SCREEN.ratio = $.SCREEN.size.width / $.SCREEN.size.height;
        },
        /**determine layout category
        * @return
        */
        getLayoutCategory: function () {
            //set layout to false, so can be set later inside our loops
            var layoutMatchFound = false;
            //loop rules to check if match found yet, once found --> return out
            Object.keys($.layouts.rules).forEach(function (key) {
                if (layoutMatchFound) return;
                console.log(key, $.layouts.rules[key]);
                //if no match, check if breakpoints are equal, set to true --> return out
                $.layouts.rules[key].forEach(function (rule) {
                    if (layoutMatchFound) return;
                    if (rule[0] == $.SCREEN.breakpoint.width && rule[1] == $.SCREEN.breakpoint.height) {
                        console.log("$$$$$ MATCH FOUND $$$$$ ___ RULE => " + rule);
                        layoutMatchFound = true;
                        
                        // TODO: write class, remove previous class, store in OBJ --> classList add/remove
                        // @JORDAN: how does the below code look...??? and what is it useful for?
                        
                        $.body.classList.remove(rule[0,1]);
                        $.body.classList.add(rule);
                        $.SCREEN.breakpoint.width =  rule[0];
                        $.SCREEN.breakpoint.height = rule[1];
                        // DEV: hide content to ensure working status or something else...
                        document.getElementById("intro").setAttribute("style", "display: none");
                    }
                });
            });
        },
    }

    $.ZOOM = {
        to: function (location) {
            //easy Out if we don't have what we need
            if (!location) return;
            if (!$.MAPBOX.map) return;
            if (location === $.MAPBOX.locations.current) return;
            //update the current location
            $.MAPBOX.locations.current = location;
            //tell map to fly to location
            if ($.MAPBOX.map) $.MAPBOX.map.flyTo(location);
            //tell office marker to be active if it's selected
            $.MAPBOX.officeMarkerActive((location === $.MAPBOX.locations.office) ? true : false);

            return null;
        },

        initial: function () {
            $.ZOOM.to($.MAPBOX.locations.initial);
        },

        office: () => {
            $.ZOOM.to($.MAPBOX.locations.office);
        },
    };

    $.MAPBOX = {
        client: null,
        tiles: null,
        dataset: null,
        map: null,
        markers: {
            office: null,
            locations: []
        },
        locations: {
            current: null,
            office: {},
            initial: {},
        },
        initialCenter: [],
        initialPitch: 0,
        initialZoom: 9.5,
        locationZoom: 13.5,
        locationPitch: 50,
        coordsOffice: [-122.386888, 47.5791677],
        animation: {
            speed: 2
        },
        offset: {
            // TODO: Need to make these responsive to the window type
            y: () => 40,
            x: () => ($.SCREEN.size.width - 32) / 4
        },
        api: {
            accessToken: "pk.eyJ1IjoiamFrZWRvYnNvbiIsImEiOiJjajdzMHAwZ2Y0amhsMnFxdTgzZzRoa280In0.S2TkU2UgGv7dcsUsmy12cw"
        },
        dataset: {
            id: "cj9oy3jrk2uks2wpge13y8nl4",
            accessToken: "sk.eyJ1IjoiamFrZWRvYnNvbiIsImEiOiJjajhtYWkxaW4wd25kMndwZmc0ZG01b29lIn0.NPn9doCB7aiJpctcxiNiUA"
        },

        datasetCallback: function (error, dataset) {
            $.MAPBOX.dataset = dataset;
            $.MAPBOX.createMapAndEvent();
        },

        isReady: function () {
            $.SETUP.mapClickHandler();
            $.SETUP.logoClickHandler();
            $.MAPBOX.map.addSource("points", {
                "type": "geojson", "data": {
                    "type": "FeatureCollection",
                    "features": $.MAPBOX.dataset.features
                }
            });
            $.MAPBOX.setupLocations();
            $.MAPBOX.addMarkers();
            $.LOADING.exitLoadingState();
        },

        setupLocations: function () {
            $.MAPBOX.locations.office = {
                center: $.MAPBOX.coordsOffice,
                zoom: $.MAPBOX.locationZoom,
                pitch: $.MAPBOX.locationPitch,
                speed: $.MAPBOX.animation.speed,
                offset: [-$.MAPBOX.offset.x(), $.MAPBOX.offset.y()] // CHECK: ensure updates on Screen Resize
            }
            $.MAPBOX.locations.initial = {
                center: $.MAPBOX.initialCenter,
                zoom: $.MAPBOX.initialZoom,
                pitch: $.MAPBOX.initialPitch,
                speed: $.MAPBOX.animation.speed,
                offset: [-$.MAPBOX.offset.x(), $.MAPBOX.offset.y()] // CHECK: ensure updates on Screen Resize
            }
        },

        createMapAndEvent: function () {
            $.MAPBOX.getInitialCenter();
            $.MAPBOX.map = new $.MAPBOX.tiles.Map({
                container: "map",
                style: "mapbox://styles/mapbox/satellite-v9?optimize=true",
                center: $.MAPBOX.initialCenter,
                zoom: $.MAPBOX.initialZoom,
                pitch: $.MAPBOX.initialPitch,
                interactive: false,
                attributionControl: false,
                logoPosition: "bottom-right",
            });
            $.MAPBOX.initialOffset();
            $.MAPBOX.map.on("load", $.MAPBOX.isReady);
        },

        getInitialCenter: function () {
            // $.MAPBOX.locations = $.MAPBOX.dataset.features;
            var center = $.MAPBOX.dataset.features[0].geometry.coordinates;
            var bounds = {
                north: center[1],
                east: center[0],
                south: center[1],
                west: center[0]
            };


            $.MAPBOX.dataset.features.forEach(function (location) {
                center = location.geometry.coordinates;
                if (bounds.west > center[0]) bounds.west = center[0];
                if (bounds.south > center[1]) bounds.south = center[1];
                if (bounds.east < center[0]) bounds.east = center[0];
                if (bounds.north < center[1]) bounds.north = center[1];
            });

            var diffLong = (bounds.east - bounds.west) / 2;
            var diffLat = (bounds.south - bounds.north) / 2;
            var centerLong = bounds.west + diffLong;
            var centerLat = bounds.north + diffLat;
            return $.MAPBOX.initialCenter = [centerLong, centerLat];
        },

        initialOffset: function () {
            $.MAPBOX.map.panBy(
                [$.MAPBOX.offset.x(), -$.MAPBOX.offset.y()],
                { easing: function () { return 1 } }
            );
        },

        /**
        * Removes all active class names from makers that are set with class active.
        * @return {void}
        */
        clearActiveMarkers: () => {
            var activeMarkers = document.querySelectorAll('.active');
            for (var index = 0; index < activeMarkers.length; index++) {
                activeMarkers[index].classList.remove('active');
            }
            return null;
        },

        addMarkers: () => {
            //add all locations from Mapbox
            $.MAPBOX.dataset.features.forEach(function (location, index) {
                $.MAPBOX.setupMarker(location.geometry.coordinates, index);
            });
            //add the Office, our Custom Property...and a great show
            $.MAPBOX.setupMarker($.MAPBOX.locations.office.center, $.MAPBOX.dataset.features.length, true);
            //add the center point
            // $.MAPBOX.setupMarker($.MAPBOX.locations.initial.center, $.MAPBOX.dataset.features.length+1, false);
        },

        /**
        * Setup for Marker Creation, Adds to Map, Click Events and storing in location object
        * @param  {Array}  coordinates
        * @param  {Number} index
        * @param  {Bool}   isOffice
        * @return {void}
        */
        setupMarker: (coordinates, index, isOffice = false) => {
            const htmlMarker = $.MAPBOX.createHTMLMarker(index, isOffice);
            const marker = new $.MAPBOX.tiles.Marker(htmlMarker).setLngLat(coordinates).addTo($.MAPBOX.map);

            htmlMarker.addEventListener('click', function (event) {
                //remove all the markers that are active & set clicked marker to active
                $.MAPBOX.clearActiveMarkers();
                htmlMarker.classList.add('active');
                //call function & Block event from triggering Map
                $.MAPBOX.markerClicked(htmlMarker);
                event.stopPropagation();
            });

            //early Out for Office so we don't add as a location. It's added by hand.
            if (isOffice) return null;

            //add Location to location Object
            $.MAPBOX.locations[`location${index}`] = {
                center: coordinates,
                pitch: $.MAPBOX.locationPitch,
                zoom: $.MAPBOX.locationZoom,
                speed: $.MAPBOX.animation.speed,
                offset: [-$.MAPBOX.offset.x(), $.MAPBOX.offset.y()], // Check! - ensure updates on Screen Resize
            };
            return null;
        },

        /**
        * Office Marker needs help to get active since you never click on it
        * We also clear other markers active state if this is set to active.
        * @param  {Bool}   toActive
        * @return {void}
        */
        officeMarkerActive: (toActive) => {
            const officeMarker = document.querySelector(".marker.office");
            if (toActive) {
                $.MAPBOX.clearActiveMarkers();
                officeMarker.classList.add("active");
            } else {
                officeMarker.classList.remove("active");
            }
            return null
        },

        createHTMLMarker: (index, isOffice) => {
            const m = document.createElement("div");
            const cn = (isOffice) ? "marker office" : "marker";

            m.className = cn;
            m.index = index;
            m.isOffice = isOffice;
            m.style.width = "32px";
            m.style.height = "32px";
            m.style.cursor = "pointer";
            m.innerHTML = "<svg><use xlink:href='#mapMarker'></use></svg>";

            if (isOffice) {
                $.MAPBOX.markers.office = m;
            } else {
                $.MAPBOX.markers.locations[index] = m;
            }

            return m;
        },

        markerClicked: function (marker) {
            if (marker === $.MAPBOX.markers.office) return null;

            $.ZOOM.to($.MAPBOX.locations[`location${marker.index}`]);

            //secondaryTransition("show")

            return null;
        },
    }

    $.DEV = {
        enabled: true,
        //helper to vizualize page size by changing bg
        updatePanelSize: function () {
            var panel = document.getElementById('sizePanel');
            // if (!panel) {
            //     <aside id="sizePanel"></aside>
            //     createPanel by adding the aside via script
            // };
            if (!$.SCREEN.size) $.RESIZE.getScreenSize();
            panel.innerHTML = "<strong>" + $.SCREEN.breakpoint.width + "</strong> " + $.SCREEN.size.width + "&times;" + $.SCREEN.size.height;
        },
    }

    /******************************************************************************/
    /*								DOCUMENT EVENTS	                              */
    /******************************************************************************/

    window.addEventListener("resize", $.RESIZE.handleResize, false);

    window.addEventListener("load", function (event) {
        console.log("All resources finished loading!");
    });

    document.addEventListener("DOMContentLoaded", function (event) {
        $.SETUP.getElements();
        $.RESIZE.handleResize(true);
        $.SETUP.getMapBoxObjects();
    });
</script>