<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<!-- multiple includes here for JS / CSS / Metadata / Google Analytics / etc -->
		<link rel="stylesheet" type="text/css" href="default.css"/>
		<!--<script src="default.js"></script>-->
	</head>
	<body>
			{% include index.html %}
	</body>
</html>


<!-- {% assign about = site.pages | where: 'title', 'About' | first %}
<p>{{about.content }}</p>
<hr />
{% assign pgTitle = page.title %}
<ul>
	<li>{{pgTitle}}</li>
	<li>{{site.title}}</li>
	<li>{{site.time}}</li>
	<li>{{site.pages[0]}}</li>
	<li>{{site.twitter_username}}</li>
</ul>
<hr />
<ul>
	{% for page in site.pages %}
		{% unless page.title == null %}
			<li>{{page.content}}</li>
		{% endunless %}
	{% endfor %}
</ul>



-->
