<!DOCTYPE html>
<html lang="en_US" class ="no-js">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta name="theme-color" content="#4285f4">
      <meta name="description" content="A description of the page">
      <meta name="google" content="notranslate">
      <title>Veritas Homes</title>
        {% include externalScripts.html %}
        {% include internalStyles.html  %}
        {% include devStyles.html       %}
        {% include internalScripts.html %}
    </head>
    <body>
        {% include _dev.html   %}
        {% include _index.html %}
        {% include _svg.html   %}
        {% include fonts.html %}
{%comment%}
        {% include header.html %}
        {% include projects.html %}
        {% include footer.html %}
{%endcomment%}
    </body>
</html>
